@-webkit-keyframes rotate {
    0% {
        background: url(../image/x1/1.png) no-repeat center;
    }
    33% {
        background: url(../image/x1/2.png) no-repeat center;
    }
    66% {
        background: url(../image/x1/3.png) no-repeat center;
    }
    100% {
        background: url(../image/x1/4.png) no-repeat center;
    }
}

@-webkit-keyframes x2run {
    0% {
        background: url(../image/x2/1.png) no-repeat center;
    }
    12.5% {
        background: url(../image/x2/2.png) no-repeat center;
    }
    25% {
        background: url(../image/x2/3.png) no-repeat center;
    }
    37.5% {
        background: url(../image/x2/4.png) no-repeat center;
    }
    50% {
        background: url(../image/x2/5.png) no-repeat center;
    }
    62.5% {
        background: url(../image/x2/6.png) no-repeat center;
    }
    75% {
        background: url(../image/x2/7.png) no-repeat center;
    }
    87.5% {
        background: url(../image/x2/8.png) no-repeat center;
    }
    100% {
        background: url(../image/x2/9.png) no-repeat center;
    }
}

@-webkit-keyframes x3run {
    0% {
        background: url(../image/x3/1.png) no-repeat center;
    }
    12.5% {
        background: url(../image/x3/2.png) no-repeat center;
    }
    25% {
        background: url(../image/x3/3.png) no-repeat center;
    }
    37.5% {
        background: url(../image/x3/4.png) no-repeat center;
    }
    50% {
        background: url(../image/x3/5.png) no-repeat center;
    }
    62.5% {
        background: url(../image/x3/6.png) no-repeat center;
    }
    75% {
        background: url(../image/x3/7.png) no-repeat center;
    }
    87.5% {
        background: url(../image/x3/8.png) no-repeat center;
    }
    100% {
        background: url(../image/x3/9.png) no-repeat center;
    }
}

@-webkit-keyframes x4run {
    0% {
        background: url(../image/x4/1.png) no-repeat center;
    }
    12.5% {
        background: url(../image/x4/2.png) no-repeat center;
    }
    25% {
        background: url(../image/x4/3.png) no-repeat center;
    }
    37.5% {
        background: url(../image/x4/4.png) no-repeat center;
    }
    50% {
        background: url(../image/x4/5.png) no-repeat center;
    }
    62.5% {
        background: url(../image/x4/6.png) no-repeat center;
    }
    75% {
        background: url(../image/x4/7.png) no-repeat center;
    }
    87.5% {
        background: url(../image/x4/8.png) no-repeat center;
    }
    100% {
        background: url(../image/x4/9.png) no-repeat center;
    }
}

@-webkit-keyframes x5run {
    0% {
        background: url(../image/x5/1.png) no-repeat center;
    }
    11% {
        background: url(../image/x5/2.png) no-repeat center;
    }
    22% {
        background: url(../image/x5/3.png) no-repeat center;
    }
    33% {
        background: url(../image/x5/4.png) no-repeat center;
    }
    44% {
        background: url(../image/x5/5.png) no-repeat center;
    }
    55% {
        background: url(../image/x5/6.png) no-repeat center;
    }
    66% {
        background: url(../image/x5/7.png) no-repeat center;
    }
    77% {
        background: url(../image/x5/8.png) no-repeat center;
    }
    88% {
        background: url(../image/x5/9.png) no-repeat center;
    }
    100% {
        background: url(../image/x5/10.png) no-repeat center;
    }
}

@-webkit-keyframes x6run {
    0% {
        background: url(../image/x6/1.png) no-repeat center;
    }
    20% {
        background: url(../image/x6/2.png) no-repeat center;
    }
    40% {
        background: url(../image/x6/3.png) no-repeat center;
    }
    60% {
        background: url(../image/x6/4.png) no-repeat center;
    }
    80% {
        background: url(../image/x6/5.png) no-repeat center;
    }
    100% {
        background: url(../image/x6/6.png) no-repeat center;
    }
}


@-webkit-keyframes loadgif {
    0% {
        background: url(../image/loadgif/0.png);
    }
    2.10% {
        background: url(../image/loadgif/1.png);
    }
    4.20% {
        background: url(../image/loadgif/2.png);
    }
    6.30% {
        background: url(../image/loadgif/3.png);
    }
    8.40% {
        background: url(../image/loadgif/4.png);
    }
    10.50% {
        background: url(../image/loadgif/5.png);
    }
    12.60% {
        background: url(../image/loadgif/6.png);
    }
    14.70% {
        background: url(../image/loadgif/7.png);
    }
    16.80% {
        background: url(../image/loadgif/8.png);
    }
    18.90% {
        background: url(../image/loadgif/9.png);
    }
    21.00% {
        background: url(../image/loadgif/10.png);
    }
    23.10% {
        background: url(../image/loadgif/11.png);
    }
    25.20% {
        background: url(../image/loadgif/12.png);
    }
    27.30% {
        background: url(../image/loadgif/13.png);
    }
    29.40% {
        background: url(../image/loadgif/14.png);
    }
    31.50% {
        background: url(../image/loadgif/15.png);
    }
    33.60% {
        background: url(../image/loadgif/16.png);
    }
    35.70% {
        background: url(../image/loadgif/17.png);
    }
    37.80% {
        background: url(../image/loadgif/18.png);
    }
    39.90% {
        background: url(../image/loadgif/19.png);
    }
    42.00% {
        background: url(../image/loadgif/20.png);
    }
    44.10% {
        background: url(../image/loadgif/21.png);
    }
    46.20% {
        background: url(../image/loadgif/22.png);
    }
    48.30% {
        background: url(../image/loadgif/23.png);
    }
    50.40% {
        background: url(../image/loadgif/24.png);
    }
    52.50% {
        background: url(../image/loadgif/25.png);
    }
    54.60% {
        background: url(../image/loadgif/24.png);
    }
    56.70% {
        background: url(../image/loadgif/23.png);
    }
    58.80% {
        background: url(../image/loadgif/22.png);
    }
    60.90% {
        background: url(../image/loadgif/21.png);
    }
    63.00% {
        background: url(../image/loadgif/20.png);
    }
    65.10% {
        background: url(../image/loadgif/19.png);
    }
    67.20% {
        background: url(../image/loadgif/18.png);
    }
    69.30% {
        background: url(../image/loadgif/17.png);
    }
    71.40% {
        background: url(../image/loadgif/16.png);
    }
    73.50% {
        background: url(../image/loadgif/15.png);
    }
    75.60% {
        background: url(../image/loadgif/14.png);
    }
    77.70% {
        background: url(../image/loadgif/13.png);
    }
    79.80% {
        background: url(../image/loadgif/12.png);
    }
    81.90% {
        background: url(../image/loadgif/11.png);
    }
    84.00% {
        background: url(../image/loadgif/10.png);
    }
    86.10% {
        background: url(../image/loadgif/9.png);
    }
    88.20% {
        background: url(../image/loadgif/8.png);
    }
    90.30% {
        background: url(../image/loadgif/7.png);
    }
    92.40% {
        background: url(../image/loadgif/6.png);
    }
    94.50% {
        background: url(../image/loadgif/5.png);
    }
    96.60% {
        background: url(../image/loadgif/4.png);
    }
    98.70% {
        background: url(../image/loadgif/3.png);
    }
    100% {
        background: url(../image/loadgif/2.png);
    }
}

@-webkit-keyframes zks {
0%  {-webkit-mask-image: url(../img/zk/0.png);}
5%  {-webkit-mask-image: url(../img/zk/1.png);}
10% {-webkit-mask-image: url(../img/zk/2.png);}
15% {-webkit-mask-image: url(../img/zk/3.png);}
20% {-webkit-mask-image: url(../img/zk/4.png);}
25% {-webkit-mask-image: url(../img/zk/5.png);}
30% {-webkit-mask-image: url(../img/zk/6.png);}
35% {-webkit-mask-image: url(../img/zk/7.png);}
40% {-webkit-mask-image: url(../img/zk/8.png);}
45% {-webkit-mask-image: url(../img/zk/9.png);}
50% {-webkit-mask-image: url(../img/zk/10.png);}
55% {-webkit-mask-image: url(../img/zk/11.png);}
60% {-webkit-mask-image: url(../img/zk/12.png);}
65% {-webkit-mask-image: url(../img/zk/13.png);}
70% {-webkit-mask-image: url(../img/zk/14.png);}
75% {-webkit-mask-image: url(../img/zk/15.png);}
80% {-webkit-mask-image: url(../img/zk/16.png);}
85% {-webkit-mask-image: url(../img/zk/17.png);}
90% {-webkit-mask-image: url(../img/zk/18.png);}
95% {-webkit-mask-image: url(../img/zk/19.png);}
100% {-webkit-mask-image: url(../img/zk/20.png);}
}

@-webkit-keyframes zkd {
    0% {
        -webkit-mask-image: url(../image/zk/29.png);
    }
    3.45% {
        -webkit-mask-image: url(../image/zk/28.png);
    }
    6.9% {
        -webkit-mask-image: url(../image/zk/27.png);
    }
    10.35% {
        -webkit-mask-image: url(../image/zk/26.png);
    }
    13.8% {
        -webkit-mask-image: url(../image/zk/25.png);
    }
    17.25% {
        -webkit-mask-image: url(../image/zk/24.png);
    }
    20.70% {
        -webkit-mask-image: url(../image/zk/23.png);
    }
    24.15% {
        -webkit-mask-image: url(../image/zk/22.png);
    }
    27.6% {
        -webkit-mask-image: url(../image/zk/21.png);
    }
    31.05% {
        -webkit-mask-image: url(../image/zk/20.png);
    }
    34.5% {
        -webkit-mask-image: url(../image/zk/19.png);
    }
    37.95% {
        -webkit-mask-image: url(../image/zk/18.png);
    }
    41.40% {
        -webkit-mask-image: url(../image/zk/17.png);
    }
    44.85% {
        -webkit-mask-image: url(../image/zk/16.png);
    }
    48.30% {
        -webkit-mask-image: url(../image/zk/15.png);
    }
    51.75% {
        -webkit-mask-image: url(../image/zk/14.png);
    }
    55.2% {
        -webkit-mask-image: url(../image/zk/13.png);
    }
    58.65% {
        -webkit-mask-image: url(../image/zk/12.png);
    }
    62.1% {
        -webkit-mask-image: url(../image/zk/11.png);
    }
    65.55% {
        -webkit-mask-image: url(../image/zk/10.png);
    }
    69% {
        -webkit-mask-image: url(../image/zk/9.png);
    }
    72.45% {
        -webkit-mask-image: url(../image/zk/8.png);
    }
    75.9% {
        -webkit-mask-image: url(../image/zk/7.png);
    }
    79.35% {
        -webkit-mask-image: url(../image/zk/6.png);
    }
    82.80% {
        -webkit-mask-image: url(../image/zk/5.png);
    }
    86.25% {
        -webkit-mask-image: url(../image/zk/4.png);
    }
    89.7% {
        -webkit-mask-image: url(../image/zk/3.png);
    }
    93.15% {
        -webkit-mask-image: url(../image/zk/2.png);
    }
    96.60% {
        -webkit-mask-image: url(../image/zk/1.png);
    }
    100% {
        -webkit-mask-image: url(../image/zk/0.png);
    }
}