@charset "utf-8";
/* CSS Document */
html,body{font:24px/1.5 Tahoma, Helvetica, Arial,\5fae\8f6f\96c5\9ed1, sans-serif; margin:0px; padding:0px; color:#000000; -webkit-user-select:none;
                  -webkit-touch-callout:none;
                  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none; height: 100%; overflow: hidden;}
ul,ol,li,p,h1,h2,h3,h4,h5,h6,table,td,th,form,fieldset,img,dl,dt,dd{margin:0;padding:0;}
ul,ol{list-style:none;}
img{border:none;}
span{margin:0px; padding:0px;}
a{text-decoration:none; color:#003280;}
a:hover{color:#003280; text-decoration:none}

a,select{-webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);}
div{-webkit-tap-highlight-color: rgba(0,0,0,0);}
input { outline:none; }

@font-face {
   }

.fsz{font-family: "BurberryCapitals", serif;}

.fl{ float: left;}
.fr{ float: right;}

.h20{ height: 20px;}
.h83{ height: 83px;}
.h300{ height: 300px;}
.h100{ height: 100%;}
.h270{ height: 270px;}
.pf{ position: fixed; }
.pa{ position: absolute;}
.pr{ position: relative;}
.dn{ display: none;}
.db{ display: block;}

.f38{ font-size: 38px; }
.f41{ font-size: 41px; }
.f20{ font-size: 20px; }

.ico{ background: url(../image/ico.png) #FFFFFF; }

.center{display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;}
.center1{display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;}

.tk{ width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 9; display: none; }

#overflow_hidden{ width:100%; height: 100%; max-width:640px; min-height:950px; position:relative; margin:0 auto; max-height:1050px; overflow: hidden; }
#overflow_hidden1{ width:100%; height: 100%; max-width:640px; min-height:950px; position:relative; margin:0 auto; max-height:1050px; overflow: hidden; }

.load{ top: 0px; left: 0px; width: 100%; height: 100%; z-index: 2;}
.xia{ width: 100%; height: 100%; top: 0px; left: 0px; }
.load.off .lti{-webkit-animation:loadoffloimg 1s 0.1s ease both;}
.load.off .xia{-webkit-animation:loadoffloimg 1s 0.1s ease both; }
/*.load.off .lti{ -webkit-animation:loadoff 15s 0.1s ease both; -webkit-transform-origin:bottom center; }
.load.off .xia{ -webkit-animation:loadoffloEx 15s 0.1s ease both; -webkit-transform-origin:top center; }*/
.load.off .loimg{ -webkit-animation:loadoffloimg 1s 1s ease both;}
@-webkit-keyframes loadoff {
    0%{
    -webkit-transform:scale(1) translateY(0px); opacity: 1;
    }
    100% {
    -webkit-transform:scale(5) translateY(-200px); opacity: 0;
    }
}
@-webkit-keyframes loadoffloEx {
    0%{
    -webkit-transform:scale(1); opacity: 1;
    }
    100% {
    -webkit-transform:scale(5); opacity: 0;
    }
}

@-webkit-keyframes loadoffloimg {
    0%{
     opacity: 1;
    }
    100% {
     opacity: 0;
    }
}



.loadtext{ bottom: 20px; left: 0px; width: 100%; text-align: center; }



.hm{ border-radius:100% ;}

.hmtxt{ z-index: 3; font-size: 46px; line-height: 65px; letter-spacing: 6px;}
.hmt1{}
.Xfan{-webkit-animation-name: Xfan;}

@-webkit-keyframes Xfan {
    0%{
    -webkit-transform: perspective(600px) rotateY(-75deg);
    }
    100% {
    -webkit-transform: perspective(600px) rotateY(-0deg);
    }
}
.Xfan1{-webkit-animation-name: Xfan1;}

@-webkit-keyframes Xfan1 {
    0%{
    -webkit-transform: perspective(600px) rotateY(75deg);
    }
    100% {
    -webkit-transform: perspective(600px) rotateY(-0deg);
    }
}

.Shm{-webkit-animation-name: Shm;}

@-webkit-keyframes Shm {
    0%{
    -webkit-transform: scale(0.8);
    }
    100% {
    -webkit-transform: scale(1);
    }
}

.flash1f38 {
    -webkit-animation-name: flash1f38;
}
@-webkit-keyframes flash1f38 {
    0% {
        opacity: 0;
        -webkit-transform: scale(2) translateX(-30px);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translateX(0px);
    }
}

.flash2f38 {
    -webkit-animation-name: flash2f38;
}
@-webkit-keyframes flash2f38 {
    0% {
        opacity: 0;
        -webkit-transform: scale(2) translateX(-15px);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translateX(0px);
    }
}

.flash3f38 {
    -webkit-animation-name: flash3f38;
}
@-webkit-keyframes flash3f38 {
    0% {
        opacity: 0;
        -webkit-transform: scale(2) translateX(15px);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translateX(0px);
    }
}

.flash4f38 {
    -webkit-animation-name: flash4f38;
}
@-webkit-keyframes flash4f38 {
    0% {
        opacity: 0;
        -webkit-transform: scale(2) translateX(30px);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translateX(0px);
    }
}


.flash1f41 {
    -webkit-animation-name: flash1f41;
}
@-webkit-keyframes flash1f41 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0) translateX(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translateX(0px);
    }
}

.flash2f41 {
    -webkit-animation-name: flash2f41;
}
@-webkit-keyframes flash2f41 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0) translateX(25px);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translateX(0px);
    }
}

.flash3f41 {
    -webkit-animation-name: flash3f41;
}
@-webkit-keyframes flash3f41 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0) translateX(-25px);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translateX(0px);
    }
}

.flash4f41 {
    -webkit-animation-name: flash4f41;
}
@-webkit-keyframes flash4f41 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0) translateX(-50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translateX(0px);
    }
}

.flash_ {
    -webkit-animation-name: flash_;
}
@-webkit-keyframes flash_ {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.flash_.off {
    -webkit-animation-name: flash_off;
}
@-webkit-keyframes flash_off {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.home{ top: 0px; left: 0px; width: 1030px; height: 1850px; -webkit-transform:translate(-391px,0px); -webkit-animation: home 20s .1s ease both; }
@-webkit-keyframes home {
    0% {
        -webkit-transform: translate(-391px,0px);
    }
    40% {
        -webkit-transform: translate(0px,-40px);
    }
    70% {
        -webkit-transform: translate(-391px,-458px);
    }
    100% {
        -webkit-transform: translate(-115px,-897px)
    }
}

.img1{ width: 300px; }
.img1 img{ width: 100%; }

.img2{ width: 300px; }
.img2 img{ width: 100%; }

.img2_1{ width: 300px; }
.img2_1 img{ width: 100%; }



.cp1.on{-webkit-animation:cpon 5s .1s ease both;}
@-webkit-keyframes cpon{
    0%{-webkit-transform:scale(1) translateY(0px)}
    50%{-webkit-transform:scale(0.7) translateY(-500px)}
    100%{-webkit-transform:scale(1) translateY(0px)}
    }

.cp2{  }
.cp2 img{ width: 100%; }

.cp3{  }
.cp3 img{ width: 100%; }

.cp1s{ width: 107%; top: 227px; }
.cp1s img{ }


.cl1{-webkit-animation:cl1 6s 0s infinite cubic-bezier(1, 1, 1, 1);}
@-webkit-keyframes cl1{ 
    0%{-webkit-transform: translate(0px,0px);}
    25%{-webkit-transform: translate(-5px,5px);}
    50%{-webkit-transform: translate(0px,5px);}
    85%{-webkit-transform: translate(5px,0px);}
    100%{-webkit-transform: translate(0px,0px);}
    }

.cl2{-webkit-animation:cl2 5s 0s infinite cubic-bezier(1, 1, 1, 1);}
@-webkit-keyframes cl2{ 
    0%{-webkit-transform: translate(0px,0px);}
    25%{-webkit-transform: translate(10px,-10px);}
    50%{-webkit-transform: translate(0px,-10px);}
    85%{-webkit-transform: translate(-10px,0px);}
    100%{-webkit-transform: translate(0px,0px);}
    }
    
.cl3{-webkit-animation:cl3 5s 0s infinite cubic-bezier(1, 1, 1, 1);}
@-webkit-keyframes cl3{ 
    0%{-webkit-transform: translate(0px,0px);}
    25%{-webkit-transform: translate(-20px,20px);}
    50%{-webkit-transform: translate(0px,20px);}
    85%{-webkit-transform: translate(20px,0px);}
    100%{-webkit-transform: translate(0px,0px);}
    }

.cl4{-webkit-animation:cl4 6s 0s infinite cubic-bezier(1, 1, 1, 1);}
@-webkit-keyframes cl4{ 
    0%{-webkit-transform: translate(0px,0px);}
    25%{-webkit-transform: translate(15px,-15px);}
    50%{-webkit-transform: translate(0px,-15px);}
    85%{-webkit-transform: translate(-15px,0px);}
    100%{-webkit-transform: translate(0px,0px);}
    }



.boy{ height: 2100px; width: 798px; -webkit-animation:boy 8s .1s ease-in-out both;  }
@-webkit-keyframes boy{
    0%{-webkit-transform:translate(-0px,0px) scale(0.8)}
    100%{-webkit-transform:translate(-0px,-1100px) scale(1)}
    }


    
.title{ top: 675px; left: 0px; }
.logo{ top: 200px; left: 135px;}
.nr{ top: 771px; left: 0px;}
.jt{ top: 838px; left: 0px;}


.circle{
  width:50px;
  height:50px;
  margin:50px auto;
  border-radius:50%;
  border:1px dashed red;
  position:absolute;
  top: 0px;
  left: 0px;
}

.square{
    width:25px;
    height:25px;
    background:rgba(255,0,0,.5);
    position:absolute;
    left:0;
    top:0;
    transform-origin:25px 25px;
    animation:4s linear rotate infinite;
}
@keyframes rotate{
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}


.p1{width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 5; }
.p1.off{ position: absolute; top: 0px; left: 0px; -webkit-animation:p1off 0.5s 0s ease both; }
@-webkit-keyframes p1off{ 
    0%{-webkit-transform:translateX(0px); opacity: 1;}
    100%{-webkit-transform:translateX(-550px); opacity: 0;}
}

.p2{ position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 5; }
.p2 img{  position: absolute; top: 145px; left: 90px; z-index: 5;}
.p2 .p2c{ width: 100%; height: 100%;}
.p2 .p2d{ z-index: 7; width: 100px; height: 100px; top: 149px; left: 415px;}

.p2.on{ display: block; -webkit-animation:p2on 0.5s 0s ease both; }
@-webkit-keyframes p2on{ 
    0%{-webkit-transform:translateX(550px); }
    100%{-webkit-transform:translateX(0px);}
}
.p3{ position: absolute; width: 100%; text-align: center;bottom: 35px; left: 0px; z-index: 5; height: 31px; }
.p3 .hian{ background: url(../image/common/button/add-black-button.png) center no-repeat;  background-size: 100% 100%; border-radius: 0;  border: none; }
@-webkit-keyframes p3hian{
    0%{-webkit-transform:scale(0.3); opacity: 0;}
    100%{-webkit-transform:scale(1); opacity: 1;}
    }
.p3 .hianb{-webkit-animation:p3hianb 1s 0.3s infinite linear; opacity: 0; }
@-webkit-keyframes p3hianb{
    0%{-webkit-transform:scale(0.5); opacity: 1;}
    80%{-webkit-transform:scale(0.9); opacity: 1;}
    100%{-webkit-transform:scale(1); opacity: 0;}
    }

.p3_text{ width: 100%; }

.tmbg{ display: none; background:#fff; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 2;}
.p4{ position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 3; }

.p4 .swiper-container { width: 100%; height: 100%; z-index: 5; }
.p4 .swiper-slide { overflow: hidden; }
.p4 .swiper-button-next{ width: 50px; height: 86px; background: url(../image/common/button/p4-right.png) no-repeat center; margin-top: -43px; }
.p4 .swiper-button-prev{ width: 50px; height: 86px; background: url(../image/common/button/p4-left.png) no-repeat center; margin-top: -43px;}
.p4 .swiper-pagination{ top: 721px; bottom: initial; color: #323232; }
.p4_tick{ top: 0px; left: 0px; z-index: 5; }

.p4_tick .p4_div{ background: url(../image/common/button/next-black-button.png) center no-repeat ; -webkit-animation:p3hian 0.5s .1s ease both; width: 120px; height: 120px; border-radius: 100%; top: 786px; left: 260px; background-size:100% 100% ; }
.p4bz{ text-align: center; font-size: 25px; width: 100%; top: 46px; left: 0px; }
.lzgb{ width: 100%; text-align: center; top: 100px;}

.xzts{ width: 100%; top: 100px; left: 0px; font-size: 25px;}
.jltxt{ width: 100%; top: 175px; left: 0px; text-align: center; }


.p5{ display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 3;}
.p5-ly{ top: 0px; left: 0px; z-index: 6; width: 100%;}
.p5-ly .hianb{-webkit-transition:all 300ms; -webkit-transform: scale(1); }


.p4-button{ width: 100px; height: 100px; border-radius: 100%;  top: 797px; left: 80px; background: url(../image/common/button/back-button.png) no-repeat center; background-size: 100% 100%;}
.p5-button{ width: 100px; height: 100px; border-radius: 100%;  top: 797px; left: 80px; background: url(../image/common/button/back-button.png) no-repeat center; background-size: 100% 100%}
.p5-button2{ top: 965px; left: 0px; }


.p5-text{ top: 962px; text-align: center; left: 0px; width: 100%; color: #323232; }

.p6{ position: absolute; top: 0px; left: 0px; width: 100%; z-index: 6; }

.p6-back{ top: 796px; left: 111px; background: url(../image/common/button/back-button.png) no-repeat center; width: 100px; height: 100px;border-radius: 100%;  background-size:100% 100% ;}
.hian.p6-play{ background: url(../image/common/button/p6-play.jpg) no-repeat center #000;}
.hian.p6-play.on{ background: url(../image/common/button/p6-playon.jpg) no-repeat center #000; }



.p6-confirm{ top: 796px; right: 111px; background: url(../image/common/button/tick-button.png) no-repeat center; width: 100px;height: 100px; border-radius: 100%; background-size:100% 100% ;}
.p6-confirm.on{ width: 119px; height: 119px; top: 787px; right: 96px; background:url(../image/common/button/confirm-button.png) no-repeat center ; background-size:100% 100% ;}
.p6text{ width: 100%; top: 962px; text-align: center; left: 0px;  color: #323232;}

.p6 .hian{ top: 787px; -webkit-animation:p3hian 0.5s .1s ease both; }

.p9{ width: 100%; height: 100%; top: 0px; left: 0px; z-index: 5; }
.p9title{ top: 4px; left: 0px; }
.p9-buttons{ bottom: 0px; left: 0px; z-index: 3; width: 100%;}
.p9_bbg{ bottom: 0px; width: 100%; height: 128px; left: 0px; background: url(../image/common/p9_bbg.png) no-repeat; }
.p9_bbg div{ width: 100%; text-align: center; left: 0px; bottom: 9px; }
.fxgb{ width: 100%; text-align: center; top: 70px; }
.gblz{ top: 724px; left: 0px; text-align: center; width: 100%; -webkit-animation:gblz 1.5s 0s both linear; }
@-webkit-keyframes gblz{
     0%{ opacity: 0; }
     30%{ opacity: 1; }
     70%{opacity: 1; }
     100%{opacity: 0; }
     }
.aa,.bb,.cc{ width: 100%; }

.bb{ }
.gun{}
.gun.off{-webkit-transition:all 1000ms;}
.bor{ z-index: 5; }
.bor{-webkit-transition:all 1000ms;}
.bor .center{ position: absolute; width: 100%; height: 100%; border-radius:100%;-webkit-transform-origin:center center; font-size: 30px; }
.c1 .center{ background: url(../image/common/Va1.png) no-repeat; background-size:100% ;}
.c2 .center{ background: url(../image/common/Va2.png) no-repeat; background-size:100% ; }
.c3 .center{ background: url(../image/common/Va3.png) no-repeat; background-size:100% ;}
.c4 .center{ background: url(../image/common/Va4.png) no-repeat; background-size:100% ; }
.c5 .center{ background: url(../image/common/Va5.png) no-repeat; background-size:100% ; }
.c6 .center{ background: url(../image/common/Va6.png) no-repeat; background-size:100% ; }

.c1 .centers{ background: url(../image/common/Va1.png) no-repeat; background-size:100% ;}
.c2 .centers{ background: url(../image/common/Va2.png) no-repeat; background-size:100% ; }
.c3 .centers{ background: url(../image/common/Va3.png) no-repeat; background-size:100% ;}
.c4 .centers{ background: url(../image/common/Va4.png) no-repeat; background-size:100% ; }
.c5 .centers{ background: url(../image/common/Va5.png) no-repeat; background-size:100% ; }
.c6 .centers{ background: url(../image/common/Va6.png) no-repeat; background-size:100% ; }

.bor div{ width: 100%; height: 100%; }

.layer{ width: 100%; height: 100%; }

.allxy{-webkit-transition:all 1000ms; -webkit-transform:translate(0px,0px)}


@-webkit-keyframes clockwise{
  0%  { -webkit-transform: rotate(0deg);  }
  100%{ -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes counter-clockwise {
  0%  { -webkit-transform: rotate(360deg) ;  }
  100%{ -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes clockwis{
  0%  { -webkit-transform: rotate(360deg) ;  }
  100%{ -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes counter-clockwis{
  0%  { -webkit-transform: rotate(0deg) ;  }
  100%{ -webkit-transform: rotate(360deg); }
}

.p9_b1{ bottom: 98px; left: 111px; width: 99px; height: 99px; background: url(../image/common/p9_gwc.png) no-repeat center #000; border-radius: 100%; }
.p9_b2{ bottom: 90px; left: 259px; width: 120px; height: 120px; background: url(../image/common/button/p6-play.jpg) no-repeat center #000; -webkit-animation:p3hian 0.5s .1s ease both; border-radius: 100%; z-index: 3;  }
.p9_b2.on{ background: url(../image/common/button/p6-playon.jpg) no-repeat center #000; }
.p9_b3{ bottom: 98px; right: 111px; width: 99px; height: 99px; background: url(../image/common/button/p9_fx.png) no-repeat center #000; border-radius: 100%; z-index: 3;}
.p9-buttons .hianb{-webkit-animation:p3hianb 1s 0.3s infinite linear; opacity: 0; top: -241px; left: 227px;}

.text{ text-align: center; width: 100%; left: 0px bottom:0px;}
.hian{ width: 120px; height: 120px; background: #000; border-radius: 100%;  top: 50%; left: 50%; margin: -60px 0 0 -60px; z-index: 2;}
.hianb{  width: 179px; height: 179px; top: 0; left: 0; background: url(../image/common/button/add-button.png) no-repeat; background-size:100% 100%; z-index: 10;}


    
.head{ top: 716px; left: 0%; width: 100%; z-index: 3; font-size: 24px; }
.head .center{ height: 100px; border: #ebebeb solid 1px; padding: 0px 20px; }
.head img{ width: 60px; height: 60px; margin-right: 25px; }
.head span{ display: block; max-width: 160px; overflow:hidden;text-overflow:ellipsis;-webkit-text-overflow:ellipsis;white-space:nowrap;}

#wwtz{ top: 0px; left: 0px; width: 100%; height: 100%; z-index: 99; }
.wwtz{ width: 440px; height: 709px; background: url(../image/common/wwtz.png) no-repeat; }
.wwgb{ z-index: 3; width: 100px; height: 100px; top: 0px; right: 0px; }
.lj1{ z-index: 3; width: 173px; height: 200px; top: 159px; left: 142px; }
.lj2{ z-index: 3; width: 173px; height: 200px; top: 399px; left: 142px; }

.rightcircle{
            border-top:20px solid green;
            border-right:20px solid green;
            right:0;
            -webkit-animation: circleProgressLoad_right 5s linear infinite;
        }
        .leftcircle{
            border-bottom:20px solid rgba(255,255,255,0);
            border-left:20px solid rgba(255,255,255,0);
            left:0;
            -webkit-animation: circleProgressLoad_left 5s linear infinite;
            opacity: 0;
        }
        @-webkit-keyframes circleProgressLoad_right{
            0%{
                -webkit-transform: rotate(45deg);
            }
            50%,100%{
                -webkit-transform: rotate(225deg);
            }
        }
        @-webkit-keyframes circleProgressLoad_left{
            0%,50%{
                -webkit-transform: rotate(45deg);
            }
            100%{
                -webkit-transform: rotate(225deg);
            }
        }
       
        .circleProgress_wrapper{
            width: 178px;
            height: 178px;
            top: -207px;
                        left: 230px;
        }

        .wrapper{
            width: 89px;
            height: 178px;
            position: absolute;
            top:0;
            overflow: hidden;
        }
        .right{
            right:1px;
        }
        .left{
            left:0;
        }
        .circleProgress{
            width: 158px;
            height: 158px;
            border:10px solid #656565;
            border-radius: 50%;
            position: absolute;
            top:0;
            -webkit-transform: rotate(45deg);
        }
        .rightcircle{
            border:10px solid #656565;
            right:0;
            -webkit-animation: circleProgressLoad_right 20s both linear;
        }
        .leftcircle{
            border:10px solid #656565;
            left:0;
            -webkit-animation: circleProgressLoad_left 20s both linear;
        }
        @-webkit-keyframes circleProgressLoad_right{
            0%{
                border-top:10px solid rgba(255,255,255,0);
                border-right:10px solid rgba(255,255,255,0);
                -webkit-transform: rotate(45deg);
            }
            50%{
                border-top:10px solid rgba(255,255,255,0);
                border-right:10px solid rgba(255,255,255,0);
                -webkit-transform: rotate(225deg);
            }
            100%{
                border-top:10px solid rgba(255,255,255,0);
                border-right:10px solid rgba(255,255,255,0);
                -webkit-transform: rotate(225deg);
            }
        }
        @-webkit-keyframes circleProgressLoad_left{
            0%{
                opacity: 0;
                border-bottom:10px solid rgba(255,255,255,0);
                border-left:10px solid rgba(255,255,255,0);
                -webkit-transform: rotate(45deg);
            }
            49%{
                opacity: 0;
                border-bottom:10px solid #rgba(255,255,255,0);
                border-left:10px solid rgba(255,255,255,0);
                -webkit-transform: rotate(45deg);
            }
            50%{
                opacity: 1;
                border-bottom:10px solid #rgba(255,255,255,0);
                border-left:10px solid rgba(255,255,255,0);
                -webkit-transform: rotate(45deg);
            }
            100%{
                opacity: 1;
                border-bottom:10px solid rgba(255,255,255,0);
                border-left:10px solid rgba(255,255,255,0);
                -webkit-transform: rotate(225deg);
            }
        }
        
.lti{ top: 70px; left: 0px; }
.loimg{ top: -90px; left: 0px; width: 100%; height: 100%; }
.lotext{ width: 100%; top: 473px; left: 0px; text-align: center; }
.loEx{ text-align: center; width: 100%; top: 558px; line-height: 48px; font-size: 20px; }
.loEx.on{ -webkit-animation:loEx 2s .1s ease both;}
@-webkit-keyframes loEx{
    0%{-webkit-transform:translateY(0px);}
    100%{-webkit-transform:translateY(-60px);}
}
.explore{ width: 450px; height: 80px; background: #000000; border-radius: 5px; top: 810px; left: 95px; color: #fff; }
.fxwb{ width: 100%; top: 0px; left: 0px; z-index: 999; }
.ment{ color: #6d6d6d; border-bottom: #6d6d6d solid 1px; top: 914px; left: 280px; }

#animation_canvas{ margin-top: -90px; }
#bubble{ -webkit-transition:all 1000ms; z-index: 6; }
.b255{ background: rgba(255,255,255,0.6); position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 2; }

.play{ width: 100%; height: 100%; top: 0px; left: 0px; z-index: 5; }
.Close{ background: url(../image/common/button/Close.png); width: 57px; height: 57px; top: 132px; right: 87px; z-index: 5; background-size:100% 100% ;}
.play_an{ top: 0px; left: 0px; width: 100%; height: 1032px; }
.play_an1{ width: 100px; height: 100px; background: url(../image/common/button/chart-button.png) no-repeat center; bottom: 97px; left: 110px; border-radius: 100%; background-size: 100% 100% ; }
.play_an2{ width: 120px; height: 120px; background: url(../image/common/button/p6-play.jpg) no-repeat center #000; bottom: 88px; left: 258px; border: #000 solid 1px; border-radius: 100%; }
.play_an2 canvas{ display: none;}
.play_an2.on{ background: #000000;}
.play_an2.on canvas{ display: block;position: absolute; top: 0px; left: 0px;}

.play_an2s{ width: 100px; height: 100px; background: url(../image/common/button/play-outline-button.png) no-repeat center; bottom: 97px; left: 270px; background-size:100% 100% ; border-radius: 100%;}
.play_an2s canvas{ display: none; border-radius: 100%; overflow: hidden; }
.play_an2s.on{ background: none; }
.play_an2s.on canvas{ display: block; position: absolute; top: 0px; left: 0px;}
.play_an2s.on div{position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    background: url(../image/common/button/play-outline-buttons.png) no-repeat center; background-size:100% 100% ; z-index: 5;}

.play_an3s{ width: 100px; height: 100px; background: url(../image/common/button/play-outline-button.png) no-repeat center; bottom: 97px; left: 270px;  border-radius: 100%; background-size:100% 100%;}
.play_an3s canvas{ display: none; border-radius: 100%; overflow: hidden; }
.play_an3s.on{ background: none; }
.play_an3s.on canvas{ display: block; position: absolute; top: 0px; left: 0px;}
.play_an3s.on div{position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
   background: url(../image/common/button/play-outline-buttons.png) no-repeat center; background-size:100% 100% ; z-index: 5;}

.play_an3ss{ width: 120px; height: 120px; background: url(../image/common/button/play-button.png) no-repeat center ; bottom: 88px; left: 258px; border-radius: 100%; background-size:100% 100% ; }
.play_an3ss canvas{ display: none; border-radius: 100%; overflow: hidden; }
.play_an3ss.on{ background: #000000; border-radius: 100%;}
.play_an3ss.on canvas{ display: block;position: absolute; top: 0px; left: 0px;}



.play_an4{ width: 120px; height: 120px; background: url(../image/common/button/play-button.png) no-repeat center #000; top: 786px; left:  261px; border-radius: 100%; background-size:100% 100%;}
.play_an4 canvas{ display: none; border-radius: 100%; overflow: hidden; }
.play_an4.on{ background: #000000;}
.play_an4.on canvas{ display: block;position: absolute; top: 0px; left: 0px;}

.play_an4s{ width: 100px; height: 100px; background: url(../image/common/button/play-outline-button.png) no-repeat center; top: 796px; left: 271px; background-size:100% 100% ; border-radius: 100%;}
.play_an4s canvas{ display: none; border-radius: 100%; overflow: hidden; }
.play_an4s.on{ background: none; }
.play_an4s.on canvas{ display: block; position: absolute; top: 0px; left: 0px;}

.play_an4s.on div{position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
   background: url(../image/common/button/play-outline-buttons.png) no-repeat center; background-size:100% 100% ; z-index: 5;}



.p9_b2{ bottom: 90px; left: 259px; width: 120px; height: 120px; background: url(../image/common/button/play-button.png) no-repeat center ;background-size:100% 100% ;  -webkit-animation: p3hian 0.5s .1s ease both; border-radius: 100%; z-index: 3; }
.p9_b2 canvas{ display: none; border-radius: 100%; overflow: hidden; }
.p9_b2.on{ background: #000000;}
.p9_b2.on canvas{ display: block;position: absolute; top: 0px; left: 0px;}

.play_an3{ width: 100px; height: 100px; background: url(../image/common/button/add-outline-button.png) no-repeat center; background-size:100% 100% ; bottom: 97px; right: 110px; border-radius: 100%; }

.play_an3.on{ width: 120px; height: 120px; background: url(../image/common/button/add-black-button.png) no-repeat center; bottom: 88px; right: 100px; border-radius: 100%; background-size:100% 100% ;}

.wyylz{ left: 251px; top: 940px; font-size: 28px; border-bottom: #000 solid 1px;}


#gd.swiper-container{ width: 100%; height: 100%; }
#gd.optext .vipme{-webkit-animation:optext0 0.5s .1s ease both;}
@-webkit-keyframes optext0{
    0%{ opacity: 1;}
    100%{ opacity: 0; }
}
#gd .vipme{-webkit-animation:optext1 0.5s .1s ease both;}
@-webkit-keyframes optext1{
    0%{ opacity: 0;}
    100%{ opacity: 1; }
}
/*#gd{-webkit-transform:scale(0.8);}*/

#gd .cpx1,#gd .cpx2{-webkit-transform:scale(0.7); -webkit-transform-origin:left center; }
#gd.gdsc .cpx1,#gd.gdsc .cpx2{-webkit-animation:gdscs 5s .1s ease both;}
@-webkit-keyframes gdscs{
    0%{-webkit-transform:scale(0.8);}
    100%{-webkit-transform:scale(1); }
}

#gd.gdsc canvas{-webkit-animation:gdsc 5s .1s ease both; -webkit-transform-origin:right center;}
@-webkit-keyframes gdsc{
    0%{-webkit-transform:scale(1);}
    100%{-webkit-transform:scale(1.3); }
}

#sfyy{ top: 0px; left: 0px; width: 100%; height: 100%; z-index: 99; }
.sfyy{ width: 440px; height: 709px; background: url(../image/common/sfyy.png) no-repeat; }
.sfon1{ top: 334px; left: 159px; width: 130px; height: 130px; }
.sfon2{ top: 520px; left: 132px; width: 200px; height: 54px; }

#suo{ position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 9; display: none;}

#suo .centers.on img{ display: none;}
#suo .centers img{ position: absolute; top: 16px; left: -187px; width: 1008px; }

#suo .centers.on .suocl{ display: block;}

.suocl{ display: none;  top: 169px; left: 73px; width: 492px; height: 492px; z-index: 3; }
.suocl .suoi{top: 208px; left: 200px; width: 90px; height: 60px; display: block; background: url(../image/common/shou.png) no-repeat; -webkit-animation:suoi 1s .1s  linear infinite;opacity: ; }
@-webkit-keyframes suoi{
    0%{-webkit-transform:translate(30px,30px); opacity: 0;}
    50%{-webkit-transform:translate(15px,15px); opacity: 1;}
    100%{-webkit-transform:translate(0px,0px); opacity: 0;}
}

.suocl .suoz{top: 350px; left: 150px; width: 182px; height: 19px; display: block; background: url(../image/common/tyt.png) no-repeat; }
.suocl .suos{ display: none; top: 0px; left: 0px; width: 71px; height: 99px; background: url(../image/common/button/suo.png) no-repeat; }

.suocl.on .suoi{ top: 330px; left: 315px; -webkit-animation:suoi 1s .1s  linear infinite; }
.suocl.on .suoz{ top: 350px; left: 115px; }
.suocl.on .suos{ top: 153px; left: 211px; display: block; }

#p9cp{ top: 169px; left: 73px; width: 492px; height: 492px;}
#p9cp .center{ z-index: 3;}
.hei{ z-index: 2; top: 0px; left: 0px; width: 100%; height: 100%; background:#000; border-radius: 100%;}

#p9cp .center img{ z-index: 3;}

.rl{ -webkit-animation:rl 0.3s .5s ease both;}
@-webkit-keyframes rl{
    0%{-webkit-transform:translateX(100px); opacity: 0;}
    100%{-webkit-transform:translateX(0px); opacity: 1; }
}
.lr{ -webkit-animation:lr 0.3s .5s ease both;}
@-webkit-keyframes lr{
    0%{-webkit-transform:translateX(-100px); opacity: 0;}
    100%{-webkit-transform:translateX(0px); opacity: 1; }
}

.hdtk{ top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(255,255,255,0.95); z-index: 3; }
.hdwb{ padding: 20px; background: #fff; width: 435px; box-shadow: 0px 0px 20px rgba(0,0,0,0.5); font-size: 18px; }
.hdt{ border-bottom: #bbbbbb solid 1px; padding: 10px 0px; font-size: 24px; }
.hdnr{ padding-top: 15px;}
.smg{ width: 40px; height: 40px; background: url(../image/common/button/smg.jpg) no-repeat center; top: 6px; right: 0px; }

.x1,.x2,.x3,.x4,.x5,.x6{
    
}
.swiper-slide-active .x1{width: 640px; height: 617px; top: 210px; left: 0px; position: absolute; -webkit-animation: x1run 0.8s steps(1, start) infinite; }
.swiper-slide-active .x2{width: 100%; height: 100%; top: 0px; left: 0px; position: absolute; -webkit-animation: x2run 1s steps(1, start) infinite; }
.swiper-slide-active .x3{width: 640px; height: 617px; top: 210px; left: 0px; position: absolute; -webkit-animation: x3run 1.2s steps(1, start) infinite; }
.swiper-slide-active .x4{width: 640px; height: 617px; top: 210px; left: 0px; position: absolute; -webkit-animation: x4run 1.5s steps(1, start) infinite; }
.swiper-slide-active .x5{width: 640px; height: 617px; top: 210px; left: 0px; position: absolute; -webkit-animation: x5run 1.5s steps(1, start) infinite; }
.swiper-slide-active .x6{width: 640px; height: 617px; top: 210px; left: 0px; position: absolute; -webkit-animation: x6run 0.9s steps(1, start) infinite; }

.x1{width: 640px; height: 617px; top: 210px; left: 0px; position: absolute; background: url(../image/common/cp1.png) no-repeat center;}
.x2{width: 100%; height: 100%; top: 0px; left: 0px; position: absolute;  background: url(../image/common/cp2.png) no-repeat center; }
.x3{width: 640px; height: 617px; top: 210px; left: 0px; position: absolute; background: url(../image/common/cp3.png) no-repeat center; }
.x4{width: 640px; height: 617px; top: 210px; left: 0px; position: absolute; background: url(../image/common/cp4.png) no-repeat center; }
.x5{width: 640px; height: 617px; top: 210px; left: 0px; position: absolute; background: url(../image/common/cp5.png) no-repeat center; }
.x6{width: 640px; height: 617px; top: 210px; left: 0px; position: absolute; background: url(../image/common/cp6.png) no-repeat center; }

.slt{ top: 17px; left: 213px; width: 200px; height: 56px; background: url(../image/common/lo0.png) no-repeat; background-size:100% ; z-index: 99; }
.slt span{ width: 40px; height: 56px; border: #b7b7b7 solid 1px;}

.lrr{-webkit-animation-name: lrr;-webkit-transform-origin:bottom center;}
@-webkit-keyframes lrr {
    0% {
    -webkit-transform:rotate(5deg);
    }
    50% {
    -webkit-transform:rotate(-5deg);
    }
    100% {
    -webkit-transform:rotate(5deg);
    }
}

.zk1{ background: url(../image/common/Va1.png) no-repeat #fff; background-size:100% ; border-radius:100% ; }
.zk2{ background: url(../image/common/Va2.png) no-repeat #fff; background-size:100% ; border-radius:100% ;}
.zk3{ background: url(../image/common/Va3.png) no-repeat #fff; background-size:100% ; border-radius:100% ;}
.zk4{ background: url(../image/common/Va4.png) no-repeat #fff; background-size:100% ; border-radius:100% ;}
.zk5{ background: url(../image/common/Va5.png) no-repeat #fff; background-size:100% ; border-radius:100% ;}
.zk6{ background: url(../image/common/Va6.png) no-repeat #fff; background-size:100% ; border-radius:100% ;}

.zk{ top: -10px; left: -10px; width: 510px; height: 510px;z-index: 4; }
#bub .zk{ width: 103%; height: 103%; }
.zk.zks{ -webkit-animation: zks 1.2s steps(1, start) both; animation: zks 1.2s steps(1, start) both; -webkit-mask-size: 100%; mask-size: 100%;}
.zk.zkd{ -webkit-animation: zkd 1.2s steps(1, start) both; animation: zks 1.2s steps(1, start) both; -webkit-mask-size: 100%; mask-size: 100%;}

.loadimgdh{ -webkit-animation: load 6s steps(1, start) both; margin-top: -90px;}
.loadgif{ }
.loady{ width: 100%; height: 100%; margin-top: -90px; }
/* .loady.on{ -webkit-animation: loadgif 4s steps(1, start) infinite;  } */